.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .login .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .login .overlap-group {
    position: absolute;
    width: 650px;
    height: 740px;
    top: 183px;
    left: 70px;
    background-color: #04032e;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 12.74px 28.26px 46px #04032ea8;
  }
  
  .login .text-wrapper {
    position: absolute;
    width: 484px;
    top: 291px;
    left: 98px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .overlap {
    position: absolute;
    width: 650px;
    height: 740px;
    top: 183px;
    left: 720px;
    background-color: #ffffff;
    border-radius: 0px 25px 25px 0px;
    border: 3px solid;
    border-color: #04032e;
    box-shadow: 5.5px 30.51px 46px #04032ea8;
  }
  
  .login .text-wrapper-2 {
    position: absolute;
    top: 358px;
    left: 373px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .no-estas-registrado {
    position: absolute;
    top: 641px;
    left: 177px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .span {
    color: #000000;
  }
  
  .login .text-wrapper-3 {
    color: #0065ff;
  }
  
  .login .text-wrapper-4 {
    position: absolute;
    top: 25px;
    left: 216px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .login .rectangle {
    position: absolute;
    width: 430px;
    height: 50px;
    top: 183px;
    left: 107px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
  
  .login .overlap-2 {
    position: absolute;
    width: 230px;
    height: 50px;
    top: 431px;
    left: 210px;
    border-radius: 5px;
  }
  
  .login .rectangle-2 {
    position: absolute;
    width: 230px;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #04032e;
    border-radius: 5px;
  }
  
  .login .text-wrapper-5 {
    position: absolute;
    top: 9px;
    left: 75px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .rectangle-wrapper {
    position: absolute;
    width: 430px;
    height: 50px;
    top: 304px;
    left: 110px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
  
  .login .img {
    position: absolute;
    width: 27px;
    height: 18px;
    top: 16px;
    left: 392px;
    object-fit: cover;
  }
  
  .login .text-wrapper-6 {
    position: absolute;
    top: 153px;
    left: 107px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .text-wrapper-7 {
    position: absolute;
    top: 269px;
    left: 107px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .overlap-3 {
    position: absolute;
    width: 1440px;
    height: 105px;
    top: 0;
    left: 0;
    background-color: #04032d;
  }
  
  .login .text-wrapper-8 {
    position: absolute;
    top: 30px;
    left: 663px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .login .logo {
    position: absolute;
    width: 131px;
    height: 73px;
    top: 16px;
    left: 521px;
    object-fit: cover;
  }