<div class="SNI">
    <div class="div">
      <div class="overlap-group">
        <div class="producci-n">Producción Cientifica &gt; SNI</div>
        <div class="text-wrapper">Guardar</div>
        <img class="volver-flecha" src="img/volver-flecha-izquierda-1.png">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="text-wrapper-2">Año</div>
          <div class="text-wrapper-3">Nivel</div>
          <div class="text-wrapper-4">Acciones</div>
          <img class="line" src="img/line-4.svg">
          <img class="img" src="img/line-4.svg">
          <img class="line-2" src="img/line-5.svg">
        </div>
        <div class="overlap-2">
          <div class="rectangle-3"></div>
          <div class="text-wrapper-5">Agregar</div>
        </div>
        <div class="div-wrapper"><div class="text-wrapper-6">Siguiente</div></div>
      </div>
      <div class="overlap-3">
        <div class="overlap-4">
          <div class="rectangle-4"></div>
          <div class="text-wrapper-7">COVEICyDET</div>
          <img class="logo" src="img/logo.png">
          <div class="rectangle-5"></div>
          <div class="text-wrapper-8">Tiempo de sesion:</div>
        </div>
        <div class="overlap-5">
          <div class="rectangle-6"></div>
          <img class="menu" src="img/menu-1.png">
        </div>
      </div>
      <div class="overlap-6">
        <p class="p">COVEICyDET | 2022 | Todos los derechos reservados</p>
        <img class="copyright" src="img/copyright-64-1.png">
      </div>
    </div>
  </div>