.agregar-patente {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .agregar-patente .overlap-group-wrapper {
    background-color: #ffffff;
    width: 831px;
    height: 717px;
  }
  
  .agregar-patente .overlap-group {
    position: relative;
    height: 717px;
    background-color: #ffffff;
    border-radius: 25px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .agregar-patente .overlap {
    position: absolute;
    width: 223px;
    height: 50px;
    top: 618px;
    left: 149px;
    border-radius: 5px;
  }
  
  .agregar-patente .rectangle {
    width: 223px;
    top: 0;
    left: 0;
    background-color: #04032e;
    position: absolute;
    height: 50px;
    border-radius: 5px;
  }
  
  .agregar-patente .text-wrapper {
    position: absolute;
    top: 9px;
    left: 71px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .agregar-patente .div {
    position: absolute;
    width: 223px;
    height: 50px;
    top: 618px;
    left: 460px;
    border-radius: 5px;
  }
  
  .agregar-patente .rectangle-2 {
    position: absolute;
    width: 223px;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #04032e;
  }
  
  .agregar-patente .text-wrapper-2 {
    position: absolute;
    top: 9px;
    left: 79px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #04032e;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .agregar-patente .rectangle-3 {
    width: 534px;
    top: 200px;
    left: 148px;
    background-color: #d9d9d9;
    position: absolute;
    height: 50px;
    border-radius: 5px;
  }
  
  .agregar-patente .rectangle-4 {
    width: 534px;
    top: 308px;
    left: 148px;
    background-color: #d9d9d9;
    position: absolute;
    height: 50px;
    border-radius: 5px;
  }
  
  .agregar-patente .text-wrapper-3 {
    position: absolute;
    top: 48px;
    left: 346px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .agregar-patente .text-wrapper-4 {
    position: absolute;
    top: 273px;
    left: 148px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .agregar-patente .rectangle-5 {
    width: 534px;
    top: 403px;
    left: 148px;
    background-color: #d9d9d9;
    position: absolute;
    height: 50px;
    border-radius: 5px;
  }
  
  .agregar-patente .text-wrapper-5 {
    position: absolute;
    top: 368px;
    left: 148px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .agregar-patente .rectangle-6 {
    width: 298px;
    top: 498px;
    left: 384px;
    background-color: #d9d9d9;
    position: absolute;
    height: 50px;
    border-radius: 5px;
  }
  
  .agregar-patente .text-wrapper-6 {
    position: absolute;
    top: 463px;
    left: 384px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .agregar-patente .calendario-de-pared-wrapper {
    position: absolute;
    width: 196px;
    height: 50px;
    top: 499px;
    left: 149px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
  
  .agregar-patente .calendario-de-pared {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 12px;
    left: 158px;
    object-fit: cover;
  }
  
  .agregar-patente .text-wrapper-7 {
    position: absolute;
    top: 463px;
    left: 148px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .agregar-patente .text-wrapper-8 {
    position: absolute;
    top: 165px;
    left: 148px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  