<div class="menu">
    <div class="overlap-group-wrapper">
      <div class="overlap-group">
        <div class="overlap"><div class="text-wrapper">Menu</div></div>
        <div class="div">
          <div class="rectangle"></div>
          <div class="text-wrapper-2">Informacion general</div>
        </div>
        <div class="overlap-2">
          <div class="rectangle"></div>
          <div class="text-wrapper-3">Producción científica y/o académica</div>
        </div>
        <div class="div-wrapper"><div class="text-wrapper-4">Documentos</div></div>
        <div class="overlap-3"><div class="text-wrapper-5">Guia de usuario</div></div>
        <div class="text-wrapper-6">LogOut</div>
      </div>
    </div>
  </div>