.desarrollo {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desarrollo .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.desarrollo .overlap-group {
    position: absolute;
    width: 1300px;
    height: 740px;
    top: 183px;
    left: 59px;
    background-color: #ffffff;
    border-radius: 25px;
    border: 3px solid;
    border-color: #04032e;
}

.desarrollo .rectangle {
    position: absolute;
    width: 223px;
    height: 50px;
    top: 643px;
    left: 735px;
    background-color: #04032e;
    border-radius: 5px;
}

.desarrollo .text-wrapper {
    position: absolute;
    top: 9px;
    left: 72px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.desarrollo .rectangle-10 {
    position: absolute;
    width: 73px;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #04032e;
    border-radius: 0px 25px 25px 0px;
}

.desarrollo .text-wrapper-14 {
    position: absolute;
    top: 23px;
    left: 0;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.desarrollo .logo {
    position: absolute;
    width: 131px;
    height: 73px;
    top: 16px;
    left: 75px; /* Adjust the left position as needed */
    object-fit: cover;
}

.desarrollo .rectangle-9 {
    position: absolute;
    width: 319px;
    height: 59px;
    top: 75px;
    left: 1051px;
    background-color: #d9d9d9;
    border-radius: 25px;
}

.desarrollo .text-wrapper-10 {
    position: absolute;
    top: 89px;
    left: 1106px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.desarrollo .overlap-3 {
    position: absolute;
    width: 1440px;
    height: 77px;
    top: 947px;
    left: 0;
    background-color: #04032e;
}

.desarrollo .p {
    position: absolute;
    top: 23px;
    left: 495px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.desarrollo .copyright {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 29px;
    left: 469px;
    object-fit: cover;
}
