<div class="agregar-articulo">
    <div class="overlap-group-wrapper">
      <div class="overlap-group">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="text-wrapper">Aceptar</div>
        </div>
        <div class="div">
          <div class="rectangle-2"></div>
          <div class="text-wrapper-2">Cancelar</div>
        </div>
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <div class="text-wrapper-3">Articulo de divulgacion cientifica</div>
        <div class="text-wrapper-4">Autor o Coautor</div>
        <div class="rectangle-5"></div>
        <div class="text-wrapper-5">Nombre de la revista</div>
        <div class="rectangle-6"></div>
        <div class="text-wrapper-6">Referencia</div>
        <div class="calendario-de-pared-wrapper">
          <img class="calendario-de-pared" src="img/calendario-de-pared-mensual-3.png">
        </div>
        <div class="img-wrapper"><img class="img" src="img/calendario-de-pared-mensual-3.png"></div>
        <div class="text-wrapper-7">Fecha aceptado</div>
        <div class="text-wrapper-8">Fecha publicado</div>
        <div class="text-wrapper-9">Titutlo del articulo</div>
      </div>
    </div>
  </div>