<div class="nueva-contrasea">
    <div class="div">
      <div class="overlap">
        <p class="text-wrapper">Bienvenido a la Plataforma del Padrón Veracruzano de Investigadores</p>
      </div>
      <div class="overlap-group">
        <div class="text-wrapper-2">Recuperación de contraseña</div>
        <div class="overlap-2">
          <div class="rectangle"></div>
          <div class="text-wrapper-3">Aceptar</div>
        </div>
        <input class="img" type="text" id="rectangle-img">
        <input class="rectangle-2" type="text" id="rectangle-2-input">
        <div class="text-wrapper-4">Nueva contraseña</div>
        <div class="text-wrapper-5">Confirmar contraseña</div>
      </div>
      <div class="overlap-3">
        <div class="text-wrapper-6">COVEICyDET</div>
        <img class="logo" src="/assets/logo.svg" />
      </div>
    </div>
  </div>