<div class="agregar">
    <div class="overlap-group-wrapper">
      <div class="overlap-group">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="text-wrapper">Aceptar</div>
        </div>
        <div class="div">
          <div class="rectangle-2"></div>
          <div class="text-wrapper-2">Cancelar</div>
        </div>
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <div class="text-wrapper-3">Articulo de revista indexada</div>
        <div class="text-wrapper-4">Nombre del producto</div>
        <div class="calendario-de-pared-wrapper">
          <img class="calendario-de-pared" src="img/calendario-de-pared-mensual-2.png">
        </div>
        <div class="text-wrapper-5">Fecha de registro</div>
        <div class="rectangle-5"></div>
        <div class="text-wrapper-6">Referencia</div>
        <div class="rectangle-6"></div>
        <div class="text-wrapper-7">No. de registro</div>
        <div class="text-wrapper-8">Tipo</div>
      </div>
    </div>
  </div>