.estancias {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .estancias .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .estancias .overlap {
    position: absolute;
    width: 1300px;
    height: 740px;
    top: 183px;
    left: 59px;
    background-color: #ffffff;
    border-radius: 25px;
    border: 3px solid;
    border-color: #04032e;
  }
  
  .estancias .producci-n {
    position: absolute;
    top: 25px;
    left: 467px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .estancias .text-wrapper {
    position: absolute;
    top: 649px;
    left: 804px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .estancias .volver-flecha {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 26px;
    left: 38px;
    object-fit: cover;
  }
  
  .estancias .overlap-group {
    position: absolute;
    width: 1148px;
    height: 201px;
    top: 157px;
    left: 76px;
  }
  
  .estancias .rectangle {
    position: absolute;
    width: 1148px;
    height: 48px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
  }
  
  .estancias .rectangle-2 {
    position: absolute;
    width: 1148px;
    height: 153px;
    top: 48px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
  }
  
  .estancias .text-wrapper-2 {
    position: absolute;
    top: 6px;
    left: 134px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .estancias .text-wrapper-3 {
    position: absolute;
    top: 6px;
    left: 483px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .estancias .text-wrapper-4 {
    position: absolute;
    top: 6px;
    left: 743px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .estancias .text-wrapper-5 {
    position: absolute;
    top: 6px;
    left: 875px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .estancias .text-wrapper-6 {
    position: absolute;
    top: 6px;
    left: 1017px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .estancias .line {
    width: 2px;
    height: 201px;
    top: 0;
    left: 360px;
    position: absolute;
    object-fit: cover;
  }
  
  .estancias .img {
    width: 2px;
    height: 201px;
    top: 0;
    left: 697px;
    position: absolute;
    object-fit: cover;
  }
  
  .estancias .line-2 {
    width: 2px;
    height: 201px;
    top: 0;
    left: 846px;
    position: absolute;
    object-fit: cover;
  }
  
  .estancias .line-3 {
    width: 2px;
    height: 201px;
    top: 0;
    left: 988px;
    position: absolute;
    object-fit: cover;
  }
  
  .estancias .line-4 {
    width: 1px;
    height: 153px;
    top: 48px;
    left: 1068px;
    position: absolute;
    object-fit: cover;
  }
  
  .estancias .overlap-2 {
    position: absolute;
    width: 223px;
    height: 50px;
    top: 370px;
    left: 1001px;
    border-radius: 5px;
  }
  
  .estancias .rectangle-3 {
    position: absolute;
    width: 223px;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #04032e;
    border-radius: 5px;
  }
  
  .estancias .text-wrapper-7 {
    position: absolute;
    top: 9px;
    left: 71px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .estancias .div-wrapper {
    position: absolute;
    width: 223px;
    height: 50px;
    top: 643px;
    left: 1001px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #04032e;
  }
  
  .estancias .text-wrapper-8 {
    position: absolute;
    top: 8px;
    left: 62px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #04032e;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .estancias .overlap-3 {
    position: absolute;
    width: 1440px;
    height: 165px;
    top: 0;
    left: 0;
  }
  
  .estancias .overlap-4 {
    position: absolute;
    width: 1440px;
    height: 134px;
    top: 0;
    left: 0;
  }
  
  .estancias .rectangle-4 {
    position: absolute;
    width: 1440px;
    height: 105px;
    top: 0;
    left: 0;
    background-color: #04032d;
  }
  
  .estancias .text-wrapper-9 {
    position: absolute;
    top: 30px;
    left: 662px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .estancias .logo {
    position: absolute;
    width: 131px;
    height: 73px;
    top: 16px;
    left: 525px;
    object-fit: cover;
  }
  
  .estancias .rectangle-5 {
    position: absolute;
    width: 319px;
    height: 59px;
    top: 75px;
    left: 1051px;
    background-color: #d9d9d9;
    border-radius: 25px;
  }
  
  .estancias .text-wrapper-10 {
    position: absolute;
    top: 89px;
    left: 1106px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .estancias .overlap-5 {
    position: absolute;
    width: 73px;
    height: 55px;
    top: 110px;
    left: 0;
    border-radius: 0px 25px 25px 0px;
  }
  
  .estancias .rectangle-6 {
    position: absolute;
    width: 73px;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #04032e;
    border-radius: 0px 25px 25px 0px;
  }
  
  .estancias .menu {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 10px;
    left: 19px;
    object-fit: cover;
  }
  
  .estancias .overlap-group-2 {
    position: absolute;
    width: 1440px;
    height: 77px;
    top: 947px;
    left: 0;
    background-color: #04032e;
  }
  
  .estancias .p {
    position: absolute;
    top: 23px;
    left: 495px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .estancias .copyright {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 29px;
    left: 469px;
    object-fit: cover;
  }
  