<div class="contacto">
    <div class="div">
      <div class="overlap-group">
        <div class="overlap"><div class="text-wrapper" (click)="saveContacto()">Guardar</div></div>
        <div class="overlap-2">
          <div class="rectangle">1</div>
          <div class="text-wrapper-2">Siguiente</div>
        </div>
        <div class="informacion-general">Informacion general &gt; Contacto</div>
        <input class="rectangle-2"
             type="text"
             id="correo_particular"
             required
             [(ngModel)]="contacto.correo_particular"
             name=" correo_particular"
      />
      <input class="rectangle-3"
      type="text"
      id="correo_institucional"
      required
      [(ngModel)]="contacto.correo_institucional"
      name=" correo_institucional"
/>
        <div class="text-wrapper-3">Correo particular</div>
        <div class="text-wrapper-4">Correo institucional</div>
        <input class="rectangle-4"
        type="text"
        id="telefono_principal"
        required
        [(ngModel)]="contacto.telefono_principal"
        name="telefono_principal"
 />
  <input class="rectangle-5"
 type="text"
 id="adscripcion_especifica"
 required
 [(ngModel)]="contacto.adscripcion_especifica"
 name=" adscripcion_especifica"
/>
        <div class="text-wrapper-5">Telefono principal</div>
        <div class="text-wrapper-6">Adscripcion especifica</div>
        <input class="rectangle-6"
             type="text"
             id="celular"
             required
             [(ngModel)]="contacto.celular"
             name=" celular"
      />
      <input class="rectangle-7"
      type="text"
      id="institucion_laboral"
      required
      [(ngModel)]="contacto.institucion_laboral"
      name=" institucion_laboral"
/>
        <div class="text-wrapper-7">Celular</div>
        <div class="text-wrapper-8">Institucion laboral</div>
        <img class="volver-flecha" src="img/volver-flecha-izquierda-1.png" />
      </div>
      <div class="overlap-3">
        <div class="overlap-4">
          <div class="rectangle-8"></div>
          <div class="text-wrapper-9">COVEICyDET</div>
          <img class="logo" src="/assets/logo.svg" />
          <div class="rectangle-9"></div>
          <div class="text-wrapper-10">Tiempo de sesion:</div>
        </div>
        <div class="overlap-5">
          <div class="rectangle-10"></div>
          <img class="menu" src="img/menu-1.png" />
        </div>
      </div>
      <img class="img" src="img/rectangle-22.svg" />
      <div class="overlap-6">
        <p class="p">COVEICyDET | 2022 | Todos los derechos reservados</p>
        <img class="copyright" src="img/copyright-64-1.png" />
      </div>
    </div>
  </div>