<div class="recuperar_contrasea">
    <div class="div">
      <div class="overlap">
        <p class="text-wrapper">Bienvenido a la Plataforma del Padrón Veracruzano de Investigadores</p>
      </div>
      <div class="overlap-group">
        <div class="text-wrapper-2">Recuperación de contraseña</div>
        <input class="img" type="text" id="rectangle-img-4">
 <input class="rectangle-2"
 type="text"
 id="codigo"
 required
 [(ngModel)]="recuperacion_password.codigo"
 name=" codigo"
/>
        <div class="text-wrapper-4">Codigo</div>
        <div class="text-wrapper-5">Contraseña</div>
      </div>
      <div class="overlap-3">
        <div class="text-wrapper-6">COVEICyDET</div>
        <img class="logo" src="/assets/logo.svg" />
      </div>
    </div>
  </div>