<div class="domicilio-particular">
    <div class="div">
      <div class="overlap-group">
        <div class="overlap"><div class="text-wrapper" (click)="saveDomicilioParticular()">Guardar</div></div>
        <div class="overlap-2">
          <div class="rectangle"></div>
          <div class="text-wrapper-2" (click)="saveDomicilioParticular()">Siguiente</div>
        </div>
        <p class="informacion-general">Informacion general &gt; Domicilio particular</p>
        <input class="div-wrapper" type="text" id="div-wrapper">
        <p class="p">No se reconoce mi codigo postal.</p>
        <input class="rectangle-2"
        type="text"
        id="calle"
        required
        [(ngModel)]="domicilio_particular.calle"
        name=" calle"
 />
 <input class="rectangle-3"
 type="text"
 id="numero"
 required
 [(ngModel)]="domicilio_particular.numero"
 name=" numero"
/>





        <div class="text-wrapper-4">Codigo postal</div>
        <div class="text-wrapper-5">Calle</div>
        <div class="text-wrapper-6">Numero</div>
        <div class="text-wrapper-7">Colonia</div>
        <input class="img-wrapper" type="text" id="img-wrapper">
        <input class="overlap-3" type="text" id="overlap-3">
        <div class="text-wrapper-8">Municipio</div>
        <div class="text-wrapper-9">Estado</div>
        <input class="overlap-4" type="text" id="overlap-4">
        <div class="text-wrapper-10">Pais</div>
        <img class="volver-flecha" src="img/volver-flecha-izquierda-1.png" />
      </div>
      <div class="overlap-5">
        <div class="overlap-6">
          <div class="rectangle-4"></div>
          <div class="text-wrapper-11">COVEICyDET</div>
          <div class="rectangle-5"></div>
          <div class="text-wrapper-12">Tiempo de sesion:</div>
        </div>
        <div class="overlap-7">
          <div class="rectangle-6"></div>
          <img class="menu" src="img/menu-1.png" />
        </div>
      </div>
      <div class="overlap-8">
        <p class="text-wrapper-13">COVEICyDET | 2022 | Todos los derechos reservados</p>
        <img class="copyright" src="img/copyright-64-1.png" />
      </div>
    </div>
  </div>
  