<div class="libros">
    <div class="overlap-group-wrapper">
      <div class="overlap-group">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="text-wrapper">Aceptar</div>
        </div>
        <div class="div">
          <div class="rectangle-2"></div>
          <div class="text-wrapper-2">Cancelar</div>
        </div>
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <p class="p">Libros y/o capitulos de libros</p>
        <div class="text-wrapper-3">Autor</div>
        <div class="rectangle-5"></div>
        <div class="text-wrapper-4">Editorial</div>
        <div class="rectangle-6"></div>
        <div class="text-wrapper-5">Referencia</div>
        <div class="text-wrapper-6">Titulo</div>
      </div>
    </div>
  </div>